<header>
</header>
<body>
  <div class="title-wrapper">
    <div class="title"> 
      <span class="title-text">Crash Chat</span>
    </div>
    <div class="about-page">
      <p class="about-button"><%= link_to '遊び方を見る', about_path %></p>
    </div>
    <div class="title-flex">
      <div class="crasher-in">
        <%= link_to image_tag("crusher.png", {:class => "title-image"}), room_path %>
        <p class="crasher-start-text"><%= link_to '姫と話す', room_path %></p>
      </div>
      <div class="kakoi-in">
        <%= link_to image_tag("kakoi.png", {:class => "title-image"}), kakoi_room_path %>
        <p class="kakoi-start-text"><%= link_to '囲いと話す', kakoi_room_path %></p>
      </div>
    </div>
  </div>
</body>
