<div class="wrapper">
  <div class="chat-room">
    <div class="chat-room-header">
      <div class="room-title">佐倉 あい</div>
    </div>
    <div class="chat-body">
      <div class ="crasher-message-flex">
          <%= crasherimage(@room) %>
            <div class ="crush-div">
              <div id = "talkbubble-crush">
                <span class="crusher-text">初めまして！佐倉あいだよ！</span>
              </div>
            </div>
      </div>
      <% if @messages %>
        <% @messages.each do |message| %>
          <% if message.clusher == false %>
            <div class = "chat-user">
              <span class="user-text"><%= message.text %></span>
            </div>
          <% else %>
          <div class ="crasher-message-flex">
          <%= crasherimage(@room) %>
            <div class ="crush-div">
              <div id = "talkbubble-crush">
                <span class="crusher-text"><%= message.text %></span>
              </div>
            </div>
          </div>
          <% end %>
        <% end %> 
      <% end %>    
  <% if @room.crushpoint < 50 %>
  <div class="message-form">
    <%= render partial: 'messages/new', message: @message, room: @room %>
  </div>
  <% else %>
  <div class= "block-message">
    <span class="block-message-text"> ブロックされてしまいました…<span><span class="block-message-text"><span>
    <a href="http://twitter.com/share?url=https://www.crash-chat.net/&amp;text=<%= @usermessages.size %>回の発言でブロックされてしまいました。最後の発言は「<%= @usermessages.last.text %>」でした。&amp;related=kiryuanzu&amp;hashtags=crashchat" id="tweet" class="block-message-text" target="_blank" name="tweet">(結果をTwitterで知らせる)</a>
  </div>
  <% end %>
    <% if @messages %>
      <div class="chat-delete">
        <%= link_to 'やり直す（チャット履歴を全て削除）', message_path(@messages), :method => :delete, :class =>"btn btn-danger chat-delete-button"%>
      </div>
    <% end %>
    <div class="homeback">
      <div class="homeback-button">
      <%= link_to 'タイトルに戻る', root_path %>
      </div>
    </div>
    </div>
  </div>
</div>