<!DOCTYPE html>
<html>
  <head>
    <title>Crash Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.png') %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/png'}) %>
    <meta name="description" content="サークルクラッシャーになりきったりクラッシュされるのを疑似体験するミニゲームアプリケーション" >
    <meta name="keywords" content="サークルクラッシャー,くらっしゃられ,姫,オタク,Twitter">

    <meta property="og:title" content="Crash Chat ~クラッシュしたりくらっしゃられたり〜">
    <meta property="og:site_name" content="Crash Chat">
    <meta property="og:description" content="サークルクラッシャーになりきったりクラッシュされるのを疑似体験するミニゲームアプリケーション"/>
    <meta property="og:url" content="https://crasher-chat.herokuapp.com" />
    <meta property="og:image" content='https://crasher-chat.herokuapp.com/assets/crusher-44882a4bd5c2f27259f109f3b7f35a2828c09902a83f0bbe870480268bd4e932.png'/>
    <meta property="og:type" content="summary" />

    <meta name="twitter:card" content="summary" />

    <meta name="twitter:title" content="Crash Chat ~クラッシュしたりくらっしゃられたり〜">
    <meta name="twitter:description" content="サークルクラッシャーになりきったりクラッシュされるのを疑似体験するミニゲームアプリケーション">

    <meta name="twitter:domain" content="crash-chat.net">
    <meta name="twitter:image:src" content='https://crasher-chat.herokuapp.com/assets/crusher-44882a4bd5c2f27259f109f3b7f35a2828c09902a83f0bbe870480268bd4e932.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
